.container {
	position: absolute;
	width: 100%;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
	padding: 10px 0;
	background: #4b6990;
	background: #415a7a;
}

.list {
	list-style: none;
	font-size: 1.2rem;
	display: inline;
	margin: 0 40px;
	white-space: nowrap;
	position: relative;
}

.logo {
	height: 60px;
}

.icon {
	position: absolute;
	left: -35px;
	width: 30px;
}

.email {
	position: absolute;
	left: -45px;
	width: 30px;
}
