.container{
    position: absolute;
    top: 0;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.list{
   list-style: none;
   font-size: 1.4rem;
   display: inline;
   margin: 0 40px; 
   white-space: nowrap;
}